header{
     background-color: #2a1758;
     object-position: top;
     padding: 30px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     color: white;
 }

 body.index{    
    background-image: url("../img/rose.jpg");
    background-size: 100%;
}

body.pagetwo{       
    background-image: url("../img/rose.jpg");
    background-size: 100%;
}                   

body.pagethree{       
    background-image: url("../img/rose.jpg");
    background-size: 100%;
}           

.text{       
    text-align: center;
    object-position: center;
    font-size:30px;
    color: white;
}
footer{        
    background-color: #2a1758;
    bottom: 0;
    width: calc(100%);
    color: white;
    text-align-last: center;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flex {             
    display: flex;
}

.form-check-label{
        color: black;
}
