header{
    background-color:#2a1758;
    object-position: top;
    padding:30px;
    font-family: "calibri";
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


body.index{
    background-image: url("bilder/rose.jpg");
    margin: 0 10%;
    margin: 0; padding: 0; box-sizing: border-box;
    background-size: 100% ;
    font-family: 'Exo', sans-serif;
}

main {
    margin: 0;
    width: 100%;
}

footer{
    background-color:#2a1758;
    bottom: 0;
    width: calc(100% - 40px);
    font-family:"calibri";
    font-weight: lighter ;
    font-size: 15px;
    color: white;
    text-align-last: center;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flex {
    display: flex;
}


.mainsentence {
    text-align: center;
    padding: 40px;
    margin-top: 100px;
    background-color:rgba(255, 255, 255, 0.3);
}

.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform:uppercase;
    position:relative;
    top:0;
    left:0;
    padding:20px 40px;
    border-radius:100px;
    display:inline-block;
    transition: all .5s;
    color:#354d46;
    font-family: 'Exo';
    font-weight: 500;
}

.btn-white{
    background:rgba(148, 214, 210, 0.712);
    color:#000;
    margin: 0.5px;
}

.btn:hover{
    box-shadow:0px 10px 10px rgba(0,0,0,0.2);
    transform : translateY(-3px);
}

.btn:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2);
    transform:translateY(-1px);
}

.btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
    content:"";
    text-decoration: none;
    text-transform:uppercase;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius:100px;
    display:inline-block;
    z-index:-1;
    transition: all .5s;
}

.btn-white::after {
    background: #fff;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
    0%{
        opacity:0;
        transform:translateY(40px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}